<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.js"></script>
    <script>
     $(document).ready( function () {
  
  $('[data-toggle="tooltip"]').tooltip();

});
    </script>
    <title>RealTimePrice</title>
    <style>
      @font-face { font-family: 'GmarketSansLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff'); font-weight: normal; font-style: normal; }
      @font-face { font-family: 'S-CoreDream-3Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight: normal; font-style: normal; }
      @font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }
      @font-face { font-family: 'S-CoreDream-2ExtraLight'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff'); font-weight: normal; font-style: normal; }
      nav{
        font-family:'Titillium Web', sans-serif;
        font-weight:600;
      }
      nav div{
        font-family:'Titillium Web', sans-serif;
        font-weight:300;
      }
      .nav-item{
        font-family: 'GmarketSansMedium';
      }
      div.carousel-inner{
        font-family: 'GmarketSansMedium';
        font-weight:400;
      }
      div{
        font-family: 'S-CoreDream-3Light';
      }
      .orange{
          background: #d96932;
      }
      .green{
          background: #43db3d;
      }
      .pink{
        background: #ed85d7;
      }
      .red{
        background: #e3324a;
      }
      span{
          display: block;
          margin: 10px 0;
          color:white;
          font-size:20px;
          font-weight:600;
          line-height: 1.8em;
          text-align: center;
          border-radius: 15px;
      }
    </style>
  </head>
  <body style = "overflow-x:hidden;overflow-y: scroll;">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="../">Eolmani?!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="../">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="../RealTimePrice">실시간 가격 확인  <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="../PriceChange">시세 변동 현황 <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <!--drawer 기능 고민...
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            -->
          </form>
        </div>
      </nav>
    </header>
    <!--스팈키-->
    <!--제목-->
    <div class = "container">
    <div class = "container-fluid" style = "height:50px;"></div>
    <div class ="container-fluid"style = "font-weight:600;font-size:33px;">
      <img src="{{url_for('static',filename='game-controller.png')}}" style="width: 33px;"/>
        <strong>실시간 가격 확인</strong>
        <hr style="width: auto;"/>
    </div>
    <div class = "container-fluid" style = "height:20px;"></div>
    </div>
    <!--그래프-->
    <div class = "container"style="margin-left:20%;">

        <div>
            <img src="{{url_for('static',filename='tmon.png')}}" class = "rounded-circle" style="width: 40px;padding-bottom: 4px;margin-right: 10px;"/>
                                                                                                                <span id="TmonValue" class = "orange" data-val = '1%'style="display:inline-block;">Tmon</span>
                                                                                                                <div style="display: inline-block; font-size:25px;font-weight: bold;">{{resultTmon}}</div>
                                                                                                                <br/><!--여기에 최저가 넣고, 처음에 span 초기화 할때도 그거 비율계산해야 함-->
            <img src="{{url_for('static',filename='navershopping.jpg')}}" class = "rounded-circle" style="width: 40px;padding-bottom: 4px;margin-right: 10px;"/>
                                                                                                                <span id = "NaverValue" class = "green" data-val = '111%'style="display:inline-block;">Naver shopping</span>
                                                                                                                <div style="display: inline-block; font-size:25px;font-weight: bold;">{{resultNaver}}</div>
                                                                                                                <br/>
            <img src="{{url_for('static',filename='auction.png')}}" class = "rounded-circle" style="width: 40px;padding-bottom: 4px;margin-right: 10px;"/>
                                                                                                                <span id = "AuctionValue" class = "red" data-val = '100%'style="display:inline-block;">Auction</span>
                                                                                                                <div style="display: inline-block; font-size:25px;font-weight: bold;">{{resultAuction}}</div>
                                                                                                                <br/>
        </div>
    </div>
    <div class = "container-fluid" style = "height:20px;"></div>
    <!--현재 최저가 쇼핑하러 가기-->
    <div class = "container-fluid"style="font-size:25px;text-align:center;">
      <script>//현재 최저가 ->str로 서버에서 받음</script>
        <strong><p style = "display: inline-block;">현재 최저가 : </p> <p id = "LowestPrice" style = "color:red;display:inline-block;">645000</p>&nbsp;원&nbsp;&nbsp;</strong> 
        <img id = LowestShoppingmall src="{{url_for('static',filename='navershopping.jpg')}}" class = "rounded"style="width:55px;display:inline-block;"data-toggle = "tooltip" data-placement="bottom"title="최저가 쇼핑하러 가기"/>
        <script>
          /*
          DB -> graph data 계산.
          */
          //무작정 데이터만 넣으면 백분율 기반으로 한그래프 상에서 미관상 좋지 않아서 0~100 사이의 값으로 오도록 메핑.
          var graph_tmon = document.getElementById('TmonValue');
          var graph_naver = document.getElementById('NaverValue');
          var graph_auction = document.getElementById('AuctionValue');

          var avg_tmon_origin = '{{resultTmon}}';
          var avg_tmon = '{{resultTmon}}' /2000+ '%';
          graph_tmon.setAttribute('data-val',avg_tmon);
          console.log('tmon data ㄱㅖ싼'+avg_tmon);
          
          var avg_naver_origin = '{{resultNaver}}';
          var avg_naver = '{{resultNaver}}' /2000+ '%';
          graph_naver.setAttribute('data-val',avg_naver);
          console.log('naver data ㄱㅖ싼'+avg_naver);

          var avg_auction_origin = '{{resultAuction}}';
          var avg_auction = '{{resultAuction}}' /2000+ '%';
          graph_auction.setAttribute('data-val',avg_auction);
          console.log('auction data ㄱㅖ싼'+avg_auction);

          var LowestShoppingmall = document.getElementById('LowestShoppingmall');
          var LowestPrice = document.getElementById('LowestPrice');
          //최저가 구하기
         if(avg_tmon>=avg_naver)
        {
          if(avg_naver>=avg_auction)
          {
            //auction
            LowestShoppingmall.setAttribute('src',"{{url_for('static',filename='auction.png')}}");
            LowestPrice.innerText=avg_auction_origin;
          }
          else
          {
            //naver
            LowestShoppingmall.setAttribute('src',"{{url_for('static',filename='navershopping.JPG')}}");
            LowestPrice.innerText=avg_naver_origin;
          }
        }
        else
        {
          if(avg_tmon>=avg_auction)
          {
            //auction
            LowestShoppingmall.setAttribute('src',"{{url_for('static',filename='auction.png')}}");
            LowestPrice.innerText=avg_auction_origin;
          }
          else
          {
            //tmon
            LowestShoppingmall.setAttribute('src',"{{url_for('static',filename='tmon.png')}}");
            LowestPrice.innerText=avg_tmon_origin;
          }
        }


        </script>
        <script>
          //그래프 렌더링
            d3.selectAll('span')
                .datum(function(){
                    return this.dataset;
                })
                .style("width","0")
                .transition().duration(1500)
                .style("width",d=>d.val)
        </script>
    
    
      </div>
    <div class = "container-fluid" style = "height:50px;"></div>
    <div class ="container"style = "font-weight:600;font-size:33px;">
      <img src="{{url_for('static',filename='game-controller.png')}}" style="width: 33px;"/>
        <strong>오늘 하루 시세 변동</strong>
        <hr style="width: auto;"/>
    </div>
    <div class = "container-fluid" style = "height:70px;"></div>
    <footer class = "footer"style="z-index:10;">
      <div class = "container-fluid" style = "background-color: #a2a4b3; position: fixed;bottom:0;">
        <div class="row">
          <div class="col"style ="text-align:center;">
            <p style = "padding-top:5px;color:whitesmoke;"><strong>| Copyright | </strong></p>
              <p style = "font-family: S-CoreDream-2ExtraLight;color:whitesmoke;">박서린<br/>
                        신준희</p>
          </div>
          <div class="col"style ="text-align:center;color:whitesmoke;vertical-align:center;">
              <button type = "button" class = "btn btn-primary" style="border-radius: 20px;margin-top:10px;" >
                <img src="{{url_for('static',filename='mail.png')}}"style="width:22px;padding-bottom: 8px;"/>
                개발자에게 문의하기
              </button>
          </div>
          <div class="col"style ="text-align:center;color:whitesmoke;"">
             경북대학교 컴퓨터학부 웅앵
          </div>
        </div>
      </div>
    </footer>
    
    
  </body>
</html>